:root {
  --main-background-color: hsl(0deg 0% 100%);
  --second-background-color: hsl(0deg 0% 100%);
  --third-background-color: hsl(0deg 0% 95%);

  --main-color: rgb(0, 0, 0);
  --tag-color: rgb(40, 44, 45);
  --card-border-color: rgba(0, 0, 0, 0.125);
  --footer-button-color: var(--bs-gray);
  --header-border-color: rgb(229, 229, 229);
}